<div class="col-md-12" ng-controller="home">


<div class="col-md-12">signup </div>
<div class="col-md-12">fb </div>
<div class="col-md-12">google </div>
<div class="col-md-12">




<form ng-submit="signupform.$valid?signUp():''"    name="signupform" >
<input type="email" name="email" placeholder="Email" ng-model="email" ng-required>
<br/>
<input type="password" name="password" ng-model="password"  placeholder="password" ng-required>
<br/>
<button class="button btn-default" type="submit" >Signup</button>
</form>

 </div>





</div>