<div class="col-md-12" ng-controller="indexController">
	<div class="col-md-2 col-md-offset-10 "><button class="btn btn-success "><a href="/login">Sign in</a></button></div>
	<h1 class="col-md-6 col-md-offset-3 well" align="center">Sign up</h1>
	<div class="col-md-12">
			<form class="col-md-6 col-md-offset-3" ng-submit="signupform.$valid?signUp():''"    name="signupform" >
					<div class="form-group">
					    <label for="name">Email:</label>
					    <input type="email" class="form-control" id="name" Placeholder="Email" ng-model="email">
					</div>
					<div class="form-group">
					    <label for="Password">Password:</label>
					    <input type="password" class="form-control"  ng-model="password"  placeholder="Password">
					</div>
					<button type="submit" class="btn btn-success">Sign up</button>
			</form>

<!-- 	<div class="col-md-6 col-md-offset-3" style="margin-top:50px;">
		Google
	</div>
	<div class="col-md-6 col-md-offset-3" style="margin-top:50px;">
		Facebook
	</div>
	<div class="col-md-6 col-md-offset-3" style="margin-top:50px;">
		Linkedin
	</div> -->
	

</div>