<div class="col-md-12" ng-controller="LoginController">
	<h1 class="col-md-6 col-md-offset-3 well" align="center">Sign in</h1>
	<div class="col-md-12">
			<form class="col-md-6 col-md-offset-3" ng-submit="signinform.$valid?signIn():''"    name="signinform" >
					<div class="form-group">
					    <label for="name">Email:</label>
					    <input type="email" class="form-control" id="name" Placeholder="Email" ng-model="email">
					</div>
					<div class="form-group">
					    <label for="Password">Password:</label>
					    <input type="password" class="form-control"  ng-model="password"  placeholder="Password">
					</div>
					<button type="submit" class="btn btn-success">Submit</button>
			</form>

	<!-- <div class="col-md-6 col-md-offset-3" style="margin-top:50px;">
		Google
	</div>
	<div class="col-md-6 col-md-offset-3" style="margin-top:50px;">
		Facebook
	</div>
	<div class="col-md-6 col-md-offset-3" style="margin-top:50px;">
		Linkedin
	</div> -->
	

</div>